.Progress{
  width: 100%;
  background-color: rgb(218, 218, 218);
}

.Players{
  display: flex;
  justify-content: space-around;
}

.Player{
  width: 30%;
  text-align: center;
}

.actions{
  margin-top: 3%;
  display: flex;
  justify-content:center;
}

.btn{
  margin-right: 10px;
}

.start{
  margin-top: 20px;
  size: 150%;
}

.App{
  text-align: center;
}

.Section2{
  max-height: 220px;
  overflow-y: scroll;
  width: 50%;
  margin: 3% 25%;
  text-align: center;
  border: 2px solid red;
}

.MonsterMove{
  font-size:x-large;
  color: rgb(116, 116, 255);
  background-color: rgb(191, 208, 255);
}

.PlayerMove{
  font-size:x-large;
  color:rgb(4, 128, 0);
  background-color: rgb(226, 255, 182);
}